# Created by .ignore support plugin (hsz.mobi)
/backup/
/tools/update-composer.cmd
/tools/update-shared-code.cmd
/web.root/wp-config-sample.php
/web.root/wp-admin/
/web.root/wp-includes/
/web.root/wp-mail.php
/web.root/wp-trackback.php
/web.root/license.txt
/web.root/wp-cron.php
/web.root/wp-login.php
/web.root/wp-links-opml.php
/web.root/index.php
/web.root/wp-settings.php
/web.root/wp-activate.php
/web.root/wp-signup.php
/web.root/readme.html
/web.root/wp-load.php
/web.root/.htaccess
/web.root/test.html
/web.root/wp-blog-header.php
/web.root/wp-comments-post.php
/web.root/wp-config.php
/web.root/xmlrpc.php
/web.root/wp-content/plugins/akismet/
/web.root/wp-content/plugins/subtitles/
/web.root/wp-content/plugins/index.php
/web.root/wp-content/plugins/hello.php
/web.root/wp-content/upgrade/
/web.root/wp-content/uploads/
/web.root/wp-content/themes/twentyseventeen/
/web.root/wp-content/themes/twentysixteen/
/web.root/wp-content/themes/twentyfourteen/
/web.root/wp-content/index.php
/web.root/wp-content/themes/philips/
/web.root/wp-content/themes/twentyfifteen/
/web.root/wp-content/themes/index.php
/web.root/wp-content/plugins/peanut/js/
/web.root/wp-content/plugins/peanut/pnut/dist/
/web.root/wp-content/plugins/peanut/pnut/examples/
/web.root/wp-content/plugins/peanut/pnut/core/
/web.root/wp-content/plugins/peanut/pnut/images/
/web.root/wp-content/plugins/peanut/pnut/components/
/web.root/wp-content/plugins/peanut/pnut/templates/
/web.root/wp-content/plugins/peanut/src/tops
/web.root/wp-content/plugins/peanut/typings/
/web.root/wp-content/plugins/multiple-roles/
/web.root/wp-content/plugins/user-roles-and-capabilities
/web.root/info.php
/web.root/application/install/
/web.root/application/config/peanut-bootstrap.php
/web.root/application/config/settings.php
/web.root/wp-content/plugins/peanut/src/peanut/
/tests/files/tmp/
/web.root/application/assets/themes/
/web.root/application/assets/js/libraries/TestLib.js
/web.root/application/assets/templates/default-page.html
/web.root/wp-content/plugins/peanut/src/.htaccess
