<link rel='stylesheet' id='philips-googleFonts-bitter-css'  href='http://fonts.googleapis.com/css?family=Bitter%3A400%2C400italic%2C700&#038;ver=4.9.1' type='text/css' media='all' />
<style>
    .header-area {
        background: #ddd none repeat scroll 0 0;
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
    }
    .site-title a {
        color: #000;
        font-family: Bitter,sans-serif; !important;
        font-size: 30px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
    }
    .site-title a:hover {
        color:#ff0000;
        text-decoration:none
    }
    .logo h2.site-description {
        font-family: Raleway,sans-serif;
        font-size: 15px;
        font-weight: 300;
    }


</style>
